<nav class="german">
  <a href="/users/<%= session[:id] %>/decks">&#9668; Go back to all your decks</a>
</nav>
<p class="floating german">Deck Name: <%= @deck.name %></p>
<form class="update-deck-form" method="post" action="/users/<%= session[:id] %>/decks/<%= @deck.id %>">
  <input type="hidden" name="_method" value="put">
  <input class="update-deck-name" type="submit" value="Update Deck Name" id="submit">
  <input type="text" name="name">
</form>
<p class= "floating german"> Num of Cards in Deck: <%= @cards.count %></p>
<div class="create-new-card">
<form class="create-card-form german" method="post" action="/users/<%= session[:id] %>/decks/<%= @deck.id %>/cards">
  <p>Create a new card:</p>
  Q: <input type="text" name="question">
  A: <input type="text" name="answer">
  <input type="hidden" name="deck_id" value="<%= @deck.id %>">
  <input class="create-card-button" type="submit" value="Add a new card" id="submit">
</form>
</div>

<!-- Why not put the interior elements as a partial.  Why not wrap them all in a div to denote what's
inside? -->

<% @cards.each_with_index do |card, idx| %>
  <div class="card">
    <form class="edit-card-form german" method="post" action="/users/<%= session[:id] %>/decks/<%= @deck.id %>/cards/<%= card.id %>">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="deck_id" value="<%= @deck.id %>">
      <p class="question">Q<%= idx + 1 %>: <%= card.question %></p>
      Q: <input type="text" name="question">
      <p class="answer">A:<%= card.answer %></p>
      A: <input type="text" name="answer">
      <br><br>
      <input class="edit-card-button" type="submit" value="Update Card" id="submit">
    </form>

    <form class="delete-card-form" method="post" action="/users/<%= session[:id] %>/decks/<%= @deck.id %>/cards/<%= card.id %>">
      <input type ="hidden" name="_method" value="delete">
      <input type="hidden" name="deck_id" value="<%= @deck.id %>">
      <input class="delete-card-button" type="submit" value="Delete Card" id="submit">
    </form>
  </div>
<% end %>
