<nav class="german">
  <a href="/users/<%= session[:id] %>">&#9668; Go back to your dashboard</a>
</nav>
<form class="add-deck-form german" method="post" action="/users/<%= session[:id] %>/decks">
  <p>(You have <span class="score"><%= @decks.count %></span> decks)</p>
  <p>Add a New Deck:</p>
  <input type="text" name="name">
  <input class="add-deck-button" type="submit" value="Create Deck!" id="submit">
</form>
<div class="german">
<p class="floating">Here Are All Your Decks:</p>

<!-- why not @sorted_decks from the controller -->
<% @decks.sort {|a, b| a.name.downcase.slice(0) <=> b.name.downcase.slice(0)}.each do |deck| %>
<div class="deck">
  <%= deck.name %>
  <button class="view-deck-button" type="button" id="submit"><a href="/users/<%= session[:id] %>/decks/<%= deck.id %>">View</a></button>
  <button class="edit-deck-button" id="submit"><a href="/users/<%= session[:id] %>/decks/<%= deck.id %>/edit">Edit</a></button>
  <form class="deck-delete-form" method="post" action="/users/<%= session[:id] %>/decks/<%= deck.id %>">
    <input type="hidden" name="_method"value="delete">
    <input class="delete-deck-button" type="submit" value="Delete" id="submit">
  </form>
</div>
<% end %>
</div>
<!-- indentation helps other devs understand your code quickly.  DO IT RIGHT.  This stack of tags sucks.-->
