<div class = "container">
  <h1 class="german">Statistics</h1>
  <table class="german" cellpadding='10'>
    <tr>
      <th>Deck Name</th>
      <th>Times Played</th>
      <th>High Score</th>
      <th>Last Played</th>
    </tr>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= @times_played[deck.id] %></td>
        <td><%= @high_score[deck.id] %></td>
        <td><%= @last_played[deck.id] %></td>
      </tr>
    <% end %>
  </table>
  <a href="/users/<%= session[:id] %>" id="submit" class="back_home">Back Home</a>
</div>