<p>Deck Name: <%= @deck.name %></p>
<p> Num of Cards in Deck: <%= @cards.count %></p>
<% @cards.each_with_index do |card, idx| %>
  <div class="card">
    <p>Q<%= idx + 1 %>: <%= card.question %></p>
    </p>A:<%= card.answer %></p>
  </div>
<% end %>